set timeout=10
set default=0

set menu_color_highlight=yellow/dark-gray
set menu_color_normal=black/light-gray
set color_normal=yellow/blue

menuentry "Debian mini ISO" {
loopback loop /Debian.iso
linux (loop)/linux iso-scan/filename=/Debian.iso
initrd (loop)/initrd.gz
}

menuentry "Debian mini ISO64" {
loopback loop /Debian64.iso
linux (loop)/linux iso-scan/filename=/Debian64.iso
initrd (loop)/initrd.gz
}



menuentry "DSL" {
 loopback loop /Dsl.iso
 linux16 (loop)/boot/isolinux/linux24 iso_filename=/dsl.iso ramdisk_size=100000 init=/etc/init BOOT_IMAGE=knoppix lang=us apm=power-off vga=normal
 initrd16 (loop)/boot/isolinux/minirt24.gz
}

menuentry "DBAN" {
	 loopback loop /Dban.iso 
	 linux (loop)/dban.bzir nuke="dwipe --autonuke --method dod522022m"
#remove r dban.bzir < for armagedon
}

menuentry "TinyCore" {
loopback loop /Tinycore.iso
linux (loop)/boot/vmlinuz
initrd (loop)/boot/core.gz
}

menuentry "TinyCore64" {
loopback loop /Tinycore64.iso
linux (loop)/boot/vmlinuz64
initrd (loop)/boot/corepure64.gz
}


menuentry "Gentoo" {
loopback loop /Gentoo.iso
linux (loop)/isolinux/gentoo root=/dev/ram0 init=/linuxrc dokeymap looptype=squashfs loop=/image.squashfs cdroot initrd=gentoo.igz isoboot=/gentoo.iso
initrd (loop)/isolinux/gentoo.igz
}

menuentry "Gentoo64" {
loopback loop /Gentoo64.iso
linux (loop)/isolinux/gentoo root=/dev/ram0 init=/linuxrc dokeymap looptype=squashfs loop=/image.squashfs cdroot initrd=gentoo.igz isoboot=/gentoo.iso
initrd (loop)/isolinux/gentoo.igz
}

menuentry "Gparted" {
loopback loop /Gparted.iso
linux (loop)/live/vmlinuz boot=live config union=aufs noswap noprompt vga=788 ip=frommedia toram=filesystem.squashfs findiso=/gparted.iso
initrd (loop)/live/initrd.img
}


menuentry "Memtest" {
linux16 /MemTest86.iso
}


